<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <h1 style="color: maroon">Welcome To EJS Template Engine</h1>
    <img src="../public/notice/1738469158850-Registation  (1).jpg" alt="" />
    <%- include('footer.ejs') %>
  </body>
</html>
